{% extends "base.html" %}

{% block title %}
Login | Smart Appointment Management System
{% endblock %}

{% block content %}

<div class="container py-5">


<div class="row justify-content-center">

    <div class="col-md-6 col-lg-5">

        <div class="card shadow border-0">

            <div class="card-body p-4">

                <h2 class="text-center mb-4">
                    Login
                </h2>


                {% if form.errors %}

                <div class="alert alert-danger">
                    Invalid username or password.
                    Please try again.
                </div>

                {% endif %}


                <form method="POST">

                    {% csrf_token %}

                    <div class="mb-3">

                        <label class="form-label">
                            Username
                        </label>

                        <input
                            type="text"
                            name="username"
                            class="form-control"
                            required
                            autofocus
                        >

                    </div>


                    <div class="mb-3">

                        <label class="form-label">
                            Password
                        </label>

                        <input
                            type="password"
                            name="password"
                            class="form-control"
                            required
                        >

                    </div>


                    <button
                        type="submit"
                        class="btn btn-primary w-100"
                    >
                        Login
                    </button>

                </form>


                <p class="text-center mt-3 mb-0">
                    Don't have an account?
                    <a href="{% url 'patients:patient_signup' %}">
                        Sign Up as Patient
                    </a>
                </p>

            </div>

        </div>

    </div>

</div>


</div>

{% endblock %}
